/* Doctors list */
.doctors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1360px;
  height: 780px;
}

.doctors-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 14px;
  overflow-y: auto;
  padding-right: 12px;
}

.doctors-card-bg {
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: 0px;
}

.doctors-card {
  width: 320px;
  height: 420px;

  border-radius: 24px;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  background: white;
  border: 2px solid transparent;
  border-radius: 24px;
  background: linear-gradient(white, white) padding-box,
    var(--Gradient-blue) border-box;
  z-index: 0;
}

.doctors-card-pic {
  position: relative;
  display: flex;
  justify-content: end;
  border-radius: 24px;
  overflow: hidden;
}

.doctors-card-photo {
  position: relative;
  width: 80%;
  right: 1px;
}

.doctors-card-text {
  display: flex;
  padding: 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
  background-color: white;
  z-index: 3;
}

.doctors-card-header {
  font-size: 20px;
  font-weight: 700;
  color: var(--darkblue);
}

.doctors-card-maintext {
  font-size: 18px;
  font-weight: 400;
}

.filter-tags {
  background: white;
  padding: 12px 8px 16px;
  border-radius: 30px;
}

.reset-filters {
  margin-top: 8px;
  border: 2px solid transparent;
  border-radius: 24px;
  background: linear-gradient(white, white) padding-box,
    var(--Gradient-blue) border-box;

  font-size: 16px;
  font-weight: 600;
  color: var(--accent-blue);
  width: 100%;
  padding: 10px;
}

.filter-tags-specs,
.filter-tags-dep {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: left;
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
}

.filter-tags-specs p,
.filter-tags-dep p {
  font-weight: 700;
}

.filter-tags-specs label,
.filter-tags-dep label {
  display: flex;
  padding: 10px 7px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid #99999965;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
}

.filter-tags-specs input[type='checkbox']:checked + label,
.filter-tags-dep input[type='checkbox']:checked + label {
  background: var(--accent-blue);
  border: 1px solid var(--accent-blue);
  color: white;
}

.filter-header {
  display: flex;
  font-size: 20px;
  gap: 12px;
}
