.doctor-page-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.doctor-content {
  background: white;
  border-radius: 30px;
}

.doctor-section {
  overflow-y: auto;
  width: 944px;
  padding-right: 8px;
}

.doctor-header {
  display: flex;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 5px 8px rgba(30, 132, 217, 0.1);
  backdrop-filter: blur(10px);
  height: fit-content;
}

.doctor-name {
  font-size: 30px;
  font-weight: 700;
  color: var(--darkblue);
}

.doctor-position {
  margin-top: 4px;
  font-size: 16px;
  font-weight: 600;
  color: var(--grey);
}

.doctor-exp {
  margin-top: 16px;
  font-size: 22px;
  font-weight: 600;
  color: #001f66;
}

.doctor-tags {
  margin-top: 16px;
}

.doctor-tags p {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
}

.doctor-tags-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
  gap: 8px;
}

.doctor-tag-chip {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: linear-gradient(
    86.07deg,
    rgba(145, 202, 243, 0.35) 19.24%,
    rgba(197, 231, 252, 0.35) 106.12%
  );
}

.doctor-header-content {
  padding: 12px 20px;
}

.doctor-photo {
  min-width: 350px;
  width: 350px;
  display: flex;
  align-items: end;
  justify-content: center;
  border-radius: 30px;
  background: linear-gradient(269.72deg, #e3eaf0 10.38%, #b7e5fd 100%);
}

.doctor-text-header {
  font-size: 24px;
  font-weight: 700;
  margin: 32px 0 16px;
  color: var(--darkblue);
}

.doctor-text {
  font-size: 20px;
  font-weight: 400;
}

.doctor-main-content {
  margin-top: 16px;
  width: 100%;
  padding: 0 40px 28px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 29, 103, 0.15);
  backdrop-filter: blur(3.75px);
}

.review-section {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  gap: 16px;
  width: 400px;
  padding: 16px;
  max-height: 782px;
  border-radius: 30px;
  background: white;
  box-shadow: 0 4px 10px 0 rgba(0, 29, 103, 0.15);
  backdrop-filter: blur(3.75px);
}

.review-section-header {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: var(--darkblue);
}

.review {
  border-radius: 30px;
  padding: 12px;
  box-shadow: 0px 5px 8px rgba(30, 132, 217, 0.1);
  backdrop-filter: blur(3.75px);
}

.review-header {
  display: flex;
  gap: 16px;
}

.review-author {
  font-size: 16px;
  font-weight: 700;
  color: rgb(83, 83, 83);
}

.review-text {
  font-size: 16px;
  font-weight: 400;
  margin-top: 6px;
}

.review-date {
  text-align: end;
  color: var(--grey);
  font-size: 16px;
  font-weight: 600;
}

.review-divider {
  background-color: var(--grey);
  width: 100%;
  height: 1px;
}

.review-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px 0 0;
}

.review-button {
  font-size: 18px;
  font-weight: 600;
  padding: 16px 16px;
  width: 100%;
}
