.legal-modal-body {
  width: 1440px;
  height: 1026px;
  position: relative;
  padding: 40px 100px;
  border-radius: 24px;
  background: #FFF;
  border: solid;
  font-size: 20px;
  overflow: hidden;
}

.legal-modal-header {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.legal-modal-content {
  margin-top: 32px;
  overflow-y: auto;
  height: 90%;
  padding-right: 16px;
}