::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b7e5fd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: #8ad4fc;
}

.legal-modal-body {
  width: 1440px;
  height: 980px;
  position: relative;
  padding: 40px 100px;
  border-radius: 60px;
  background: #fff;
  font-size: 20px;

  top: 20px; /* это чисто чтобы отодвинуть окно ниже для отладки */
}

.legal-modal-header {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: var(--darkblue);
}

.legal-modal-content {
  margin-top: 32px;
  overflow-y: auto;
  height: 90%;
  padding-right: 16px;
}
