.price-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1350px;
  height: 808px;
  gap: 12px;
}

.price-list-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  padding-right: 12px;
}

.price-list-button {
  display: flex;
  padding: 16px 20px;
  background-color: var(--skyblue);
  border-radius: 24px;

  font-size: 24px;
  font-weight: 600;
}

.price-list-button:active {
  opacity: 60%;
}

.price-list-button img {
  width: 32px;
  height: 32px;
}

.content-header.prices {
  color: white;
}

.disclaimer-section {
  background: white;
  border-radius: 30px;
  padding: 16px;
  margin-top: 56px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--darkblue);
  font-size: 16px;
  font-weight: 500;
}

/* toggle */
.toggle-section {
  background: white;
  border-radius: 30px;
  padding: 16px;
  margin-top: 56px;
  width: 100%;
}

.toggle-section p {
  font-size: 20px;
  font-weight: 700;
  color: var(--darkblue);
}

.toogle-price {
  margin-top: 12px;
  position: relative;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light-grey);
  border-radius: 24px;

  font-size: 20px;
  font-weight: 500;
}

.toggle-active-bg {
  position: absolute;
  width: 100%;
  height: 50%;
  background: var(--Gradient-blue);
  z-index: 1;
  top: 0;
  border-radius: 24px;
  transition: top 0.3s ease;
}

.active-btn {
  color: white;
  z-index: 3;
}

.adult-price-p,
.kids-price-p {
  width: 100%;
  height: 100%;
  font-weight: 600;
}
