::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b7e5fd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: #8ad4fc;
}

.price-modal-body {
  width: 1810px;
  height: 1000px;
  position: relative;
  padding: 40px 100px 0 60px;
  border-radius: 24px;
  background: #fff;

  font-size: 20px;
}

.container-for-height {
  height: 890px;
}

.table-of-prices {
  overflow-y: auto;
  height: 100%;
  padding-right: 16px;
}

.price-modal-header {
  font-size: 32px;
  font-weight: 700;
  margin-left: 10px;
  color: var(--darkblue);
}

.price-modal-subheader {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  opacity: 50%;
}

.table-list .container-for-height .table-of-prices .class-grid {
  display: grid;
  grid-auto-rows: minmax(54px, auto);
  grid-template-areas: 't1 t2 t3 t4';
  grid-template-columns: 3fr 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  min-height: 90px;

  font-size: 20px;
  font-weight: 600;
}

.table-header {
  margin-top: 12px;
  font-size: 24px;
  font-weight: 600;
}

.table-header :first-child,
.services.class-grid :first-child {
  text-align: start;
}

.item {
  padding: 16px 40px 16px 24px;
}

.txt-notification {
  color: var(--warning-red);
  font-weight: 700;
}

.item.price {
  font-size: 24px;
  color: var(--accent-blue);
}

.item.price.promotion {
  color: var(--accent-orange);
}

.border-promotion {
  border: 3px solid transparent;
  border-radius: 24px;
  background: linear-gradient(white, white) padding-box,
    var(--Gradient-orange) border-box;
  position: relative;
  margin: 12px 40px;
}

.item.price.promotion.border-promotion:active {
  background: #f1a1646b;
}

.arrow-promotion {
  position: absolute;
  right: 10px;
  top: 52%;
  transform: translateY(-50%);
}

.services.class-grid {
  margin-top: 10px;
  box-shadow: 0px 5px 8px rgba(30, 132, 217, 0.1);
  border-radius: 30px;
}
