.service-page-container {
  width: 1350px;
}

.service-page-main {
  background: white;
  padding: 20px 16px;
  border-radius: 30px;
}

.service-discount-card-list {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-bottom: 12px;
}

.service-discount-card-list::-webkit-scrollbar {
  display: none;
}

.service-page-container {
  height: 780px;
  overflow-y: auto;
  overflow-x: hidden;
}

.service-page-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 16px;
}

.service-discount-card {
  width: 860px;
  height: 180px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: var(--item-shadow);
  flex-shrink: 0;
  position: relative;
  display: flex;
  box-shadow: var(--item-shadow);
  overflow-x: auto;
}

.service-period-discount {
  margin: 16px 0 0 20px;
  position: absolute;
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--accent-orange);

  color: white;
  font-size: 16px;
  font-weight: 600;
}

.service-discount-card-photo {
  width: 368px;
  height: 200px;
  object-fit: cover;
}

.service-discount-card-text {
  display: flex;
  padding: 16px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
}

.service-discount-card-header {
  font-size: 20px;
  font-weight: 700;
}

.service-discount-card-maintext {
  font-size: 16px;
  font-weight: 400;
}

.service-page-header {
  font-size: 28px;
  font-weight: 700;
  margin-top: 20px;
  color: var(--darkblue);
}

.service-page-buttons {
  display: flex;
  justify-content: center;
  gap: 36px;
  margin-top: 24px;
}

.button-main.service {
  width: 380px;
  height: 72px;
}

.service-page-text {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

.review {
  width: 570px;
  border-radius: 30px;
  padding: 12px;
  box-shadow: 0px 5px 8px rgba(30, 132, 217, 0.1);
  backdrop-filter: blur(3.75px);
}

.review-header {
  display: flex;
  gap: 16px;
}

.review-author {
  font-size: 16px;
  font-weight: 700;
  color: rgb(83, 83, 83);
}

.review-text {
  font-size: 16px;
  font-weight: 400;
  margin-top: 6px;
}

.review-date {
  text-align: end;
  color: var(--grey);
  font-size: 16px;
  font-weight: 600;
}

.review-list {
  margin-top: 12px;
  display: flex;
  gap: 16px;
  padding: 0 16px 0 0;
}
