.service-discount-card-list {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-bottom: 12px;
}

.service-discount-card-list::-webkit-scrollbar {
  display: none;
}

.service-page-container {
  height: 808px;
  overflow-y: auto;
  overflow-x: hidden;
}

.service-page-content {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 12px;
  padding: 0 16px 20px 4px;
}

.service-discount-card {
  width: 860px;
  height: 180px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: var(--item-shadow);
  flex-shrink: 0;
  position: relative;
  display: flex;
  box-shadow: var(--item-shadow);
  overflow-x: auto;
}

.service-period-discount {
  margin: 16px 0 0 20px;
  position: absolute;
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--accent-orange);

  color: white;
  font-size: 16px;
  font-weight: 600;
}

.service-discount-card-photo {
  width: 368px;
  height: 200px;
  object-fit: cover;
}

.service-discount-card-text {
  display: flex;
  padding: 16px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
}

.service-discount-card-header {
  font-size: 20px;
  font-weight: 700;
}

.service-discount-card-maintext {
  font-size: 16px;
  font-weight: 400;
}

.service-page-main {
  margin-top: 36px;
}

.service-page-header {
  font-size: 28px;
  font-weight: 500;
  margin-top: 20px;
}

.service-page-buttons {
  display: flex;
  gap: 36px;
}

.service-page-text {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}