.service-page-container {
  width: 1350px;
}

.service-page-main {
  background: white;
  padding: 20px 24px;
  border-radius: 30px;
  max-width: 100%;
  overflow: hidden;
}
.service-discount-card-list {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-bottom: 12px;
}

.service-discount-card-list::-webkit-scrollbar {
  display: none;
}

.service-page-container {
  height: 780px;
  overflow-y: auto;
  overflow-x: hidden;
}

.service-page-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 16px;
}

.service-discount-card {
  width: 860px;
  height: 180px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: var(--item-shadow);
  flex-shrink: 0;
  position: relative;
  display: flex;
  box-shadow: var(--item-shadow);
  overflow-x: auto;
}

.service-period-discount {
  margin: 16px 0 0 20px;
  position: absolute;
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--accent-orange);

  color: white;
  font-size: 16px;
  font-weight: 600;
}

.service-discount-card-photo {
  width: 368px;
  height: 200px;
  object-fit: cover;
}

.service-discount-card-text {
  display: flex;
  padding: 16px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
}

.service-discount-card-header {
  font-size: 20px;
  font-weight: 700;
}

.service-discount-card-maintext {
  font-size: 16px;
  font-weight: 400;
}

.diagnostic-list-columns {
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  gap: 10px;
}

.diagnostic-item img {
  width: 80px;
}

.diagnostic-item-columns,
.diagnostic-item {
  width: 400px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
  font-size: 18px;
  font-weight: 600;
}

.diagnostic-list {
  display: flex;
  flex-direction: column;
  margin: 20px 60px;
  gap: 10px;
}

.diagnostic-item {
  width: 100%;
}

.custom-list-block {
  margin-top: 8px;
  background: rgba(255, 158, 51, 0.1);
  border-radius: 24px;
  padding: 10px 16px;
}

.custom-list-block > p {
  font-size: 24px;
}

.custom-list-block-item {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
}

.big-img {
  width: 70px;
}

.faq-section {
  margin-top: 50px;
}

.faq-header {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-top: 70px;
  color: var(--darkblue);
}

.questions {
  margin-top: 16px;
}

.question-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 22px 24px;
  background-color: var(--skyblue);
  border-radius: 24px;
}

.question-header-text {
  font-size: 22px;
  font-weight: 500;
}

.questions > div {
  margin-top: 8px;
}

.faq-answer {
  padding: 12px 30px;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  opacity: 1;
  font-size: 18px;
  line-height: 30px;
}

.faq-answer.hide {
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.service-page-header {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-top: 70px;
  color: var(--darkblue);
}

.service-page-buttons {
  display: flex;
  justify-content: center;
  gap: 36px;
  margin-top: 24px;
}

.button-main.service {
  width: 380px;
  height: 72px;
}

.service-page-text {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

.review {
  width: 570px;
  border-radius: 30px;
  padding: 12px;
  box-shadow: 0px 5px 8px rgba(30, 132, 217, 0.1);
  backdrop-filter: blur(3.75px);
  min-width: 300px;
  flex-shrink: 0;
  height: fit-content;
}

.review-header {
  display: flex;
  gap: 16px;
}

.review-author {
  font-size: 16px;
  font-weight: 700;
  color: rgb(83, 83, 83);
}

.review-text {
  font-size: 16px;
  font-weight: 400;
  margin-top: 6px;
}

.review-date {
  text-align: end;
  color: var(--grey);
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}

.review-list {
  margin-top: 12px;
  padding: 12px 0;
  display: flex;
  gap: 16px;
  width: 100%;
  overflow-x: auto;
}

.video-card-swiper {
  margin-top: 20px;
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
}

.video-card {
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  box-shadow: 0px 5px 8px rgba(30, 132, 217, 0.1);
  backdrop-filter: blur(3.75px);
}

.video-card-content {
  width: 900px;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}

.video-card-text {
  display: flex;
  padding: 16px 16px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  flex: 1 0 0;
  align-self: stretch;
}

.video-card-header {
  font-size: 24px;
  font-weight: 700;
  color: var(--darkblue);
}

.video-card-maintext {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.video-card-photo {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.left-button-card {
  top: 158px;
  left: 10px;
}
.right-button-card {
  top: 158px;
  right: 10px;
}

.left-button-card,
.right-button-card {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 82px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 30px;
  background: linear-gradient(white, white) padding-box,
    var(--Gradient-blue) border-box;
}

.left-button-card:active,
.right-button-card:active {
  opacity: 55%;
}

.right-button-card {
  transform: rotate(180deg);
}

.methods-cards-list {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.methods-card {
  width: 408px;
}

.methods-card img {
  border-radius: 20px;
  width: 100%;
  height: 200px;
}

.methods-card-text {
  margin-top: 4px;
}

.methods-card-header {
  font-size: 24px;
  font-weight: 500;
}

.service-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-list ul {
  margin-top: 20px;
}

.service-list ul li {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 12px;
  padding-left: 17px;
  position: relative;
}

.service-list ul li:before {
  background: var(--Gradient-orange);
  border-radius: 50%;
  content: "";
  height: 10px;
  width: 10px;
  left: 0;
  position: absolute;
  top: 6px;
}
